.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1rem;
}

.register-header__logo {
  width: 2.625rem;
  margin-bottom: 0.5rem;
}

.register-header__title {
  font-family: var(--font-family-logo);
  font-size: var(--font-size-logo);
  margin-bottom: 1rem;
}

.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.register-card__icon-completed {
  display: block;
  width: 3.5rem;
  height: 3.5rem;

  margin-bottom: 1rem;

  background-image: url(../img/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.register-card__title {
  max-width: 20rem;
}

@media (min-width: 800px) {
  .register-header__logo {
    width: 5.75rem;
    margin-bottom: 1rem;
  }

  .register-header__title {
    margin-bottom: 2rem;
  }
}
