.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1rem;
}

.register-header__logo {
  width: 2.625rem;
  margin-bottom: 0.5rem;
}

.register-header__title {
  font-family: var(--font-family-logo);
  font-size: var(--font-size-logo);
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .register-header__logo {
    width: 5.75rem;
    margin-bottom: 1rem;
  }

  .register-header__title {
    margin-bottom: 2rem;
  }
}
